* {
  padding: 0;
  border: 0;
}

#reset, h1 {
  margin: 2% 4% 2% 10%;
  font-family: sans-serif;
  font-weight: lighter;
}

#title {
  color: #6fa0d4;
}

button{
  width: 80px;
  height: 30px;
  background-color: lightblue;
  border-radius: 5px;
}

button:hover {
  background-color: rgba(70, 123, 150, 0.9);
  cursor: pointer;
}

body {
  background-image: url('/assets/body_bg1.jpg');
  background-repeat: repeat;
}

#board {
  background-image: url('/assets/planet.jpg');
  background-size: cover;
  margin-left: 10%
}

td{
  width: 60px;
  height: 60px;
  border: 1px solid blue;
}

.live {
  background-color: #2a2d86
}

.start {

}

.addGreenPiece {
  background-image: url('/asset/piece_green.jpg');
  background-size: cover;
}

.addBluePiece {
  background-image: url('/asset/piece_blue.jpg');
  background-size: cover;
}
